*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
.tik-tak{
    margin-top: 3rem;
    display: flex;
    justify-content: center
}
.pokemon-battle{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 10rem;
    width: 100%;
}
.charmander-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.squirtle-img{
    margin-top: 5rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.versus{
    margin-top: 12rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.boton-partida{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-primary{
    width: 15rem !important;
    background-color: rgb(60, 78, 199) !important;
    font-size: 1.2rem !important;
    height: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: 'Mochiy Pop One', sans-serif !important;
    color: rgb(229, 236, 16) !important;
}
.btn-primary:hover{
    background-color: rgb(229, 236, 16) !important;
    transform: translate(0, -5px);
    transition-duration: 0.5s;
    color: rgb(60, 78, 199) !important;
}
#irJuego{
    text-decoration: none;
}
#irJuego:active{
    text-decoration: none;
}
.players{
    display: flex;
    justify-content: center;
    gap: 45rem;
    width: 100%;
    margin-bottom: 4rem;
}
.nombre-jugador{
    display: flex;
    flex-direction: column;
}
.info-jugador{
    background-color: rgb(60, 78, 199);
    margin-top: 1.5rem;
    color: rgb(229, 236, 16);
    font-weight: 400;
    height: 2.3rem;
    width: 16rem;
    text-align: center;
    border-color: rgb(60, 78, 199);
    border-radius: 0.6rem;
    font-family: 'Mochiy Pop One', sans-serif;
}
.tik-tak-mvl{
    display: none;
}
.img-cha-mvl{
    display: none;
}
.img-char-mvl{
    display: none;
}
.img-sqr-mvl{
    display: none;
}
.sqr-icon{
    display: none;
}
.boton-partida-mvl{
    display: none;
}

@media(max-width: 1400px){
    .pokemon-battle{
        margin-left: 0rem;
        gap: 4rem;
    }
    .players{
        gap: 37rem;
    }
}
@media(max-width: 1200px){
    .pokemon-battle{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 4rem;
    }
    .versus{
        margin-top: 5rem;
    }
    .players{
        display: flex;
    }
    .btn.btn-primary{
        margin-top: 5rem;
        margin-bottom: 4rem;
    }
    .squirtle-img{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }
    .img-sqr-mvl{
        display: flex;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .charmander-img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-char-mvl{
        display: flex;
        margin-top: 2rem; 
    }
    .boton-partida-mvl{
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;
    }
}
@media(max-width: 576px){

    .tik-tak-mvl{
        display: flex;
    }
    .tik-tak-nm{
        display: none;
    }
    .img-principal-sqr{
        display: none;
    }
    .sqr-icon{
        display: flex;
    }
    .img-cha-mvl{
        display: flex;
    }
    .img-principal-char{
        display: none;
    }
}
