*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
/*Estilos referentes a las imagene de tik tak toe*/
.tik-tak{
    margin-top: 3.5rem;
    display: flex;
    justify-content: center
}
.tik-tak-mvl{
    display: none;
}
/*Estilos referentes a las imagenes de enhorabuena*/
.ganadores{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
.enhorabuena-1{
    display: none;
}
.enhorabuena-peq{
    display: none;
}
/*Estilos referentes a las imagenes de trofeo*/
.trofeo{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 3rem;
}

/*Estilos referentes a las imagenes de ganador*/
.ganador-total{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.ganador-mvl{
    display: none;
}
/*Inicio de las media query*/
@media(max-width: 992px){
    .enhorabuena{
        display: none;
    }
    .enhorabuena-1{
        display: flex;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .tik-tak-mvl{
        display: flex;
        margin-top: 7rem;
    }
    .tik-tak-nm{
        display: none;
    }
    .ganador-nm{
        margin-top: 4rem;
    }
}
@media(max-width: 576px){
    .ganador-mvl{
        display: flex;
    }
    .ganador-nm{
        display: none;
    }
    .enhorabuena-1{
        display: none;
    }
    .enhorabuena-peq{
        display: flex;
    }
    .ganador-total{
        margin-bottom: 3rem;
    }
    .trofeo-img{
        display: none;
    }
    .tik-tak-mvl{
        margin-top: 0rem;
    }
    .sqr-img{
        width: 8.5rem;
    }
    .charmander-img{
        width: 7.5rem;
    }
}