*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
.tik-tak{
    margin-top: 3rem;
    display: flex;
    justify-content: center
}
.tik-tak-mvl{
    display: none;
}
.tablero{
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-top: 4.5rem;
    margin-bottom: 0;
}
.cont-info{
    height: 15rem;
    width: 20rem;
}
.cas-info{
    height: 100%;
    width: 100%;
    background-color: #3366af;
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.btn-primary{
    width: 15rem !important;
    background-color: rgb(60, 78, 199) !important;
    font-size: 1rem !important;
    height: 2.8rem;
    margin-top: 1rem;
    font-family: 'Mochiy Pop One', sans-serif !important;
    color: rgb(229, 236, 16) !important;
}
.btn-primary:hover{
    background-color: rgb(229, 236, 16) !important;
    transform: translate(0, -5px);
    transition-duration: 0.5s;
    color: rgb(60, 78, 199) !important;
}
.turno{
    color: rgb(229, 236, 16) !important;
    font-family: 'Mochiy Pop One', sans-serif !important;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.tur-2{
    margin-top: 3.5rem;
}
.imagen-casilla{
    display: flex;
    flex-direction: column;
}
.jugador-charmander{
    margin-bottom: 2rem;
}
.imagen-jugadores{
    margin-right: 2rem;
}

.cont-juego{
    width: 30rem;
    height: 10rem;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0;
    margin-bottom: 2.5rem;
    /*
    border-right-style: outset;
    border-bottom-style: outset;
    border-color: rgb(248, 245, 245);
    border-width: 3rem;
    */
}
.casilla{
    width:100%;
    height: 100%;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 78, 24);
    transition: background-color ease-in 0.5s;
}
.poke-batalla{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 17.5rem;
}
@media(max-width: 1200px){
    #charmanderCas{
        margin-top: 1rem;
    }
    #squirtleCas{
        margin-top: 1rem;
    }
    .cont-info{
        margin-left: 1.5rem;
    }
}
@media(max-width: 992px){
    .tablero{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cont-info{
        width: 29rem;
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        height: 15rem;
        margin-left: 0rem;
    }
    .imagen-casilla{
        margin-top: 18rem;
        margin-bottom: 1rem;
    }
    .poke-batalla{
        margin-top: 3rem;
    }
}
@media(max-width: 576px){
    .tik-tak-mvl{
        display: flex;
    }
    .tik-tak-nm{
        display: none;
    }
    .cas-info{
        width: 12rem;
    }
    .boton-inicio{
        width: 10rem !important;
        height: 4rem;
    }
    .cont-juego{
        width: 20rem;
        height: 8rem;
    }
    .cont-info{
        width: 20rem;
        margin-right: 0rem;
        display: flex;
        align-items: center;
        margin-right: 0.8rem;
        margin-left: 0rem;
    }
    .tablero{
        margin-left: 0.3rem;
    }
    .imagen-casilla{
        margin-top: 15rem;
    }
}
