*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* Estilos del personaje*/
#personaje{
    background: url(../images/oak-style-def.png);
    width: 50px;
    height: 55px;
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: 200px;
    position :fixed;
}
/* Estilos del marcador de pokeballsAtrapadas*/
.puntuacion{
    display: flex;
    justify-content: center;
}
#marcador{
    width: 10rem;
    height: 4rem;
    background-color: rgb(60, 78, 199);
    color: rgb(229, 236, 16);
    text-align: center;
    display: flex;
    align-items: center;
    font-family: 'Mochiy Pop One', sans-serif;
    border-radius: 0.3rem;
}
/*Estilos de la pokedex*/
#tapa-pokedex{
    background-image: url(../images/roca-def-2.png);
    width: 80px;
    height: 80px;
    background-size: 100% 100%;
    position: fixed;
    top: 84%;
    left: 80%;
}
.pokedex{
    background-image: url(../images/pokedex-def.png);
    width: 85px;
    height: 85px;
    background-size: 100% 100%;
    position: fixed;
    top: 85%;
    left: 80%;
    z-index: -1;
    cursor: pointer;
}
/*Estilos de las pokeballs*/
.pokeballsFalsas{
    background-image: url(../images/masterball-def.png);
    width: 42px;
    height: 42px;
    background-size: 100% 100%;
    position: fixed;
    top: 40%;
    left: 50%;
}
.pokeball{
    background-image: url(../images/masterball-def.png);
    width: 42px;
    height: 42px;
    background-size: 100% 100%;
    position: fixed;
    top: 20%;
    left: 50%;
}
.poke-1{
    top: 45%;
    left: 70%;
}
.poke-2{
    top: 15%;
    left: 20%;
}
.poke-3{
    top: 80%;
    left: 10%;
}
.poke-4{
    top: 85%;
    left: 55%;
}
/* Estilos de los arboles*/
.arbol{
    background-image: url(../images/arbol-poke-def.png);
    width: 48px;
    height: 55px;
    background-size: 100% 100%;
    position: fixed;
    top: 20%;
    left: 30%;
    z-index: -1;
}
/* Estilos de los edificios*/
.edificios{
    background-image: url(../images/poke-centro1.png);
    width: 115px;
    height: 129px;
    background-size: 100% 100%;
    position:fixed;
    top: 100px;
    left: 150px;
}
.edf-1{
    top: 15%;
    left: 70%;
}
.edf-2{
    top: 30%;
    left: 38%;
}
.edf-3{
    top: 65%;
    left: 20%;
}
.edf-4{
    top: 80%;
    left: 65%;
}
.edf-5{
    top: 60%;
    left: 85%;
}
.boton-vuelta{
    width: 8rem ;
    background-color: rgb(60, 78, 199);
    height: 2.6rem;
    border-radius: 0.3rem;
    position: absolute;
    top: 2%;
    left: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Mochiy Pop One', sans-serif;
    color: rgb(229, 236, 16) ;
    font-size: 1rem;
    border-color: rgb(60, 78, 199);
}
.boton-vuelta:hover{
    background-color: rgb(229, 236, 16);
    color: rgb(60, 78, 199);
}
.flecha-volver{
    font-size: 1rem !important;
    margin-bottom: 0.2rem;
    color: rgb(229, 236, 16) ;
    height: 100%;
    margin-top: 0.8rem;
}
.flecha-volver:hover{
    color: rgb(60, 78, 199);
}
.normas{
    position: relative;
    top: 85%;
    left: -1%;
}
.cierre{
    color: red;
}





